<% include partials/head %>
<% include partials/navbar %>
<% include partials/bgtop %>

<div class="container">
    <div class="well">
        <h2>Create your New Team</h2>
    </div>
    
    <form class="form-group" action="/teams" method="POST">
        
        <div class="container-fluid text-center input-group">
            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-flag"></span></span>
                <input type="text" class="form-control" name="teamName" placeholder="Team Name" aria-describedby="sizing-addon2">
        </div>
        <br>
        <br>
        <div class="container-fluid col-md-6">
        
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" name="player" placeholder="player 1" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" name="player" placeholder="player 2" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" name="player" placeholder="player 3" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" name="player" placeholder="player 4" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" name="player" placeholder="player 5" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" name="player" placeholder="player 6" aria-describedby="sizing-addon2">
            </div>
        </div>
        
        <div class="container-fluid col-md-6">
        
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" name="player" placeholder="player 7" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" name="player" placeholder="player 8" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" name="player" placeholder="player 9" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" name="player" placeholder="player 10" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" name="player" placeholder="player 11" aria-describedby="sizing-addon2">
            </div>
            
        </div>
        <br>
        <br>
        <div class="input-group pull-right">
            <button type="submit" class="btn btn-info">Create Team</button>
        </div>
    </form>
</div>