<div class="jumbotron text-center" style="height: 150px; background-image: url('https://athlavelocity.files.wordpress.com/2015/07/1436215407_full.png');background-position: bottom; background-size: cover; text-shadow: 2px 1px 15px #FFF;">

</div>